

<div class="main col-sm-6 col-sm-offset-3">
<form name="signupForm">

	<div layout="column" layout-padding ng-cloak>


		<h3>Signup for Application</h3>
		
		<md-content class="md=no=momentum">
			<md-input-container class="md-icon-float md-block">
				<label>Username</label>

				<input required ng-model="username" name="username" type="text">
				<div ng-messages="signupForm.username.$error">
				<div ng-message="required">Username is required.</div>
				</div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>First Name</label>

				<input required ng-model="firstName" name="firstName" type="text">
				<div ng-messages="signupForm.firstName.$error">
				<div ng-message="required">First name is required.</div>
				</div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>Last Name</label>

				<input required ng-model="lastName" name="lastName" type="text">
				<div ng-messages="signupForm.lastName.$error">
				<div ng-message="required">Last name is required.</div>
				</div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>Password</label>

				<input required ng-model="password" name="password" type="password">
				<div ng-messages="signupForm.password.$error">
				<div ng-message="required">Password is required.</div>
				</div>
			</md-input-container>

			<md-button class="md-raised md-primary signup-button" ng-click="signupHandler()" ng-disabled="signupForm.$pristine || signupForm.$invalid">Signup</md-button>

		</md-content>
	</div>

</form>

<hr />
<p>Have an account? <a ui-sref="login">Login</a></p>
</div>